.userListItem {
  list-style: none;
  padding: 2rem 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  position: relative;

  &--mobile {
    list-style: none;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    position: relative;
    align-items: start;
  }

  &__image {
    width: 6.4rem;
    height: 6.4rem;
    border-radius: 50%;
    object-fit: cover;

    &--mobile {
      @extend .userListItem__image;
      width: 5.5rem;
      height: 5.5rem;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &--mobile {
      display: flex;
      flex-direction: column;
      gap: .5rem;
    }
  }

  &__name {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    p {
      font-size: 1.6rem;
      line-height: 2rem;
      font-weight: 600;
      color:#424F5E
    }

    span {
      font-size: 1.6rem;
      line-height: 2rem;
      font-weight: 400;
      color: #9494A0;
    }

    &--mobile {
      display: flex;
      flex-direction: column;
      gap: .5rem;
      
      p {
        font-size: 1.4rem;
        line-height: 2rem;
        font-weight: 600;
        color:#424F5E
      }
  
      span {
        font-size: 1.4rem;
        line-height: 2rem;
        font-weight: 400;
        color: #9494A0;
      }
    }
  }

  &__permissions {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;

    &--mobile {
      display: flex;
      gap: 0.5rem;
      flex-wrap: wrap;
    }
  }

  &__tooltip {
    display: flex;
    flex-direction: column;
    border-radius: 1.5rem;
    background-color: #fff;
    padding: 1.5rem;
    gap: 1.5rem;
    list-style: none;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 10;

    li {
      white-space: nowrap;
      cursor: pointer;
      color: #424F5E;
      font-size: 1.4rem;
      line-height: 2rem;
    }

    &--button {
      display: block;
      position: absolute;
      z-index: 1;
      top: 2rem;
      right: 2rem;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }
}