@font-face {
  font-family: "Futura PT";
  src: url('../fonts/futura_pt.ttf') format('truetype');
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%; 
  
  @media (max-width: 1024px) {
    font-size: 56.25%; 
  }
}

body {
  font-size: 1.4rem; 
  font-family: 'Futura', sans-serif;
}
 
